.App {
  text-align: center;
  background-color: white;
  width: 400px;
}
.detailsBox {
  background-color: #ffd966;
}
.details {
  background-color: white;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.all {
  padding: 20px;
}
.titleName {
  color: #777f39;
  font-size: 20px;
  text-align: left;
  padding-top: 50px;
  font-weight: 600;
}
.titleDesc {
  color: black;
  font-size: 25px;
  text-align: left;
  font-weight: 600;
}
.lev {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  margin-bottom: 30px;
}
.gram {
  color: #706f7d;
  font-size: 20px;
}
.amount {
  background-color: #f2f8f7;
  color: black;
  padding: 5px 10px;
  border-radius: 10px;
  font-weight: 600;
  font-size: 23px;
}
.line {
  background-color: #f2f8f7;
  width: 100%;
  height: 1px;
  margin-top: 30px;
}
.cartBox {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.cart {
  width: 45%;
}
.cartButton {
  background-color: #00866e;
  width: 45%;
  border: none;
  border-radius: 50px;
  outline: none;
  cursor: pointer;
  color: white;
  font-size: 18px;
  font-weight: 600;
  padding: 15px 0;
}

.singleDetail {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}
.value {
  margin-right: 20px;
}
.name {
  font-size: 18px;
  font-weight: 600;
}
.itemDetails {
  width: 100%;
  margin-top: 30px;
}
.aboutTitle {
  color: black;
  font-size: 25px;
  font-weight: 700px;
  text-align: left;
  margin-bottom: 10px;
}
